<h2>By Country</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="search()">
      <input
        type="text"
        name="term"
        class="form-control"
        placeholder="Search country"
        [(ngModel)]="term"
      />
    </form>
  </div>
</div>
<hr />

<div *ngIf="hasErrors" class="alert alert-danger">
  No data was found with the term: {{ term }}
</div>

<div *ngIf="!hasErrors && countries.length" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Flag</th>
          <th>Name</th>
          <th>Population</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <td>{{ i + 1 }}</td>
          <td><img class="small-flag" [src]="country.flag" /></td>
          <td>{{ country.name }}</td>
          <td>{{ country.population | number }}</td>
          <td><a [routerLink]="['/country', country.alpha2Code]">Read</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
