<h2>Search</h2>
<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item pointer"
  >
    Search country
  </li>
  <li
    routerLink="region"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item pointer"
  >
    By region
  </li>
  <li
    routerLink="capital"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item pointer"
  >
    By capital
  </li>
</ul>
